body{
	font-family:$base-font-family;
	font-size:$base-font-size;
	line-height:1.7em;
	color:$base-font-color;
	background-color:$base-background;
}

hr{
	margin-top: 0px;
}

ul,li{
	list-style:none;
}

input, textarea, button{
	@include border-radius(4px);
}

img.device{
	width:100%;
}
.active{
	background:$monitorily-active;
}
.deactive{
	background:$monitorily-secondary;
}

img.device-small{
	width:70%;
	margin-bottom:-40px;
}

