/* Font Colors */

$base-font-size:15px;
$base-font-family:"Segoe UI","Segoe WP","Segoe Regular", sans-serif;
$base-font-color:#666666;
$base-background:#eee;



/* Background Colors */
$monitorily-active:#1ABC9C;

$primary-color:#00aff0;
$secondary-color:#7fba00;
$light-color:#e4eef2;
$dark-color:#2b5464;

/* Navbars Area */
$nav-background:#0D47A7;


/* Showcase Area */

$showcase-height:400px;
$showcase-image:'../img/showcase.jpg';