$panel-body-padding: 10px;
$panel-border-radius: 0px;
$font-size-base: 12px;
$state-success-bg: #009688;
$state-success-text: #fff;
$state-info-text: #16a085;
.panel-campaign {
	margin-bottom: 0px !important;
	padding: 1em 0em 1em 0em;
}
.dropdown-icon, .dropdown-icon:hover {
	color: #fff;
}
.panel-campaign-assignee {
	@extend .panel-campaign;
	background-color: #b2dfdb;
	border-right: 1.3em solid #b1b1b1;
	color: #16a085;
}

#headingOne, span {
	font-size: $font-size-base;
	line-height: 2.3em;
}
