 @media (max-width: 850px) {
		[class*="col"] {
			padding-right: 0px;
			padding-left: 0px;
		}
  }

 @media (max-width: 750px)  {
 	.container {
 		max-width: none !important;
 		width: 970px;
 	}
 }